sudo: false
language: go
go:
  - 1.8
script:
  - ln -s ${TRAVIS_BUILD_DIR} ${GOPATH}/src/github.com/${TRAVIS_REPO_SLUG}
  - make dist
deploy:
  - provider: releases
    api_key: ${GITHUB_API_KEY}
    file_glob: true
    file:
      - build/packer-*
    skip_cleanup: true
    overwrite: true
    on:
      tags: true
